body{
    background: linear-gradient(135deg , rgb(185, 91, 13) , orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}




.enter_bt{
    background-color: rgb(255, 115, 0);
    border: none;
    outline: none;
    box-shadow: 3px 3px 0px rgb(255, 126, 6);
    transition: background-color 0.3s ease;
}
.enter_bt:hover{
    background-color: orange;
}
.enter_bt:focus{
    border: none;
    outline: none;
}
.enter_bt:active{
    border: none;
    outline: none;  
    transform: translate(1px ,1px); /* ปุ่มจมลง */
}